.row {
  display: flex;
  justify-content: center;
}
.desc {
  display: block;
  margin: 8px 14px 0 14px;
  overflow: hidden;
  font-size: 12px;
  line-height: 16px;
  color: #737373;
  text-overflow: ellipsis;
}

.hovercard {
  position: relative;
  padding-top: 0;
  overflow: hidden;
  text-align: center;
  background-color: rgba(214, 224, 226, 0.2);
}

.cardheader {
  background: #242424;
  background-size: cover;
  height: 100px;
}

.avatar {
  position: relative;
  top: -60px;
  margin-bottom: -50px;
}

.avatar img {
  width: 120px;
  height: 120px;
  max-width: 150px;
  max-height: 150px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 5px solid rgba(255, 255, 255, 0.5);
}

.info {
  padding: 4px 8px 10px;
}

.title {
  margin-bottom: 4px;
  font-size: 19px;
  line-height: 1;
  color: #262626;
  vertical-align: middle;
}

.desc {
  overflow: hidden;
  font-size: 13px;
  line-height: 20px;
  color: rgb(0, 56, 56);
  text-overflow: ellipsis;
}

.bottom {
  margin: 1rem auto;
}

.modal-btn {
  border-radius: 0.5rem;
  transition: background 200ms ease-in, color 200ms ease-in;
  box-shadow: 6px 6px 6px #a2a1a1, -6px -6px 6px white;
}
