@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.navbar-brand,
.nav-item {
  padding: 0 1rem;
}

body,html {
  background: rgb(191, 189, 189);
  font-family: 'Work Sans', sans-serif;
}

input,
textarea,
#search {
  background: transparent;
  padding: 10px;
  padding-left: 20px;
  height: 50px;
  font-size: 14px;
  border-radius: 50px;
  box-shadow: inset 6px 6px 6px rgb(128, 128, 128), inset -6px -6px 6px #eee;
}

#search {
  width: 40%;
}

.card h4 {
  border-bottom: 1px #777 solid;
  padding-bottom: 10px;
  margin-bottom: 10px;
  background: #f7e6da;
}

.wrapper {
  width: 100%;
}

.btn {
  box-shadow: 6px 6px 6px #444444, -6px -6px 6px #222222;
  transition: 0.5s;
}

.card {
  overflow: hidden;
  box-sizing: border-box;
  box-shadow: 7px 7px 10px #a2a1a1, -7px -7px 10px #474747;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 2rem;
  transition: transform 200ms ease-in;
  background: snow;
  color: #343a40;
}

.card__title {
  padding: 1.2rem;
}

.card__description {
  padding: 0 1rem;
}

.card__btn {
  padding: 0.7rem;
  font-family: inherit;
  font-weight: bold;
  font-size: 1rem;
  background: #f7e6da;
  color: #343a40;
  border-radius: 0.5rem;
  transition: background 200ms ease-in, color 200ms ease-in;
  box-shadow: 6px 6px 6px #cbced1, -6px -6px 6px white;
}

.card:hover {
  transform: scale(1.02);
}

.card:hover .card__btn {
  transition: 0.5s;
  background: #343a40;
  color: white;
}

.update-btn,
.delete-btn {
  background: #f7e6da;
  color: #343a40;
  border-radius: 0.5rem;
  transition: background 200ms ease-in, color 200ms ease-in;
  box-shadow: 6px 6px 6px #a2a1a1, -6px -6px 6px rgb(164, 163, 163);
}

.update-btn:hover {
  transition: 0.5s;
  background: #02468a;
  color: #fff;
}

.delete-btn:hover {
  transition: 0.5s;
  background: #cc0000;
  color: #fff;
}
