@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.navbar {
  background: #414e70;
}

.navbar-brand,
.nav-item {
  padding: 0 1rem;
}

body,
html {
  background: #346b92;
  font-family: "Work Sans", sans-serif;
}

#search {
  width: 40%;
}

.wrapper {
  width: 100%;
}

.btn {
  transition: 0.5s;
}

.update-btn,
.delete-btn {
  background: #f7e6da;
  color: #343a40;
  border-radius: 0.5rem;
  transition: background 200ms ease-in, color 200ms ease-in;
  box-shadow: 6px 6px 6px #a2a1a1, -6px -6px 6px rgb(164, 163, 163);
}

.update-btn:hover {
  transition: 0.5s;
  background: #02468a;
  color: #fff;
}

.delete-btn:hover {
  transition: 0.5s;
  background: #cc0000;
  color: #fff;
}
