@import url("https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.navbar {
  background: #414e70;
}

.navbar-brand,
.nav-item {
  padding: 0 1rem;
}

body,
html {
  background: #346b92;
  font-family: "Play", serif;
}

#search {
  width: 40%;
}

.wrapper {
  width: 100%;
}

.btn {
  transition: 0.5s;
}

.update-btn:hover {
  transition: 0.5s;
  background: #02468a;
  color: #fff;
}

.delete-btn:hover {
  transition: 0.5s;
  background: #cc0000;
  color: #fff;
}
